<section class="section">
  <app-home></app-home>
</section>
<section class="section">
  <app-directives></app-directives>
</section>
<section class="section">
  <app-reactive-form></app-reactive-form>
</section>

<section class="section">
  <app-form></app-form>
</section>

<section class="section">
  <p>Currency change </p>
  <p>{{20 | usdInr: 120}} </p>
</section>
<section class="section">
  <app-pipes></app-pipes>
</section>
<section class="section">
  <app-to-way-binding></app-to-way-binding>
</section>

<section class="section">
  <h3>{{dataChild}}</h3>
  <app-child (updateDataEvent)="updateData($event)"></app-child>
</section>

<section class="section">
  <p>parent to child</p>
  <ul *ngFor="let user of userDetails">

    <app-parent-to-child [item]="user"></app-parent-to-child>
  </ul>
</section>

<section class="section">
  child To parent
  <app-pass-data-to-child [item]="data"></app-pass-data-to-child>
</section>


<section class="section">
  <app-todolist></app-todolist>
</section>
